body{
    background-color: rgb(39, 7, 68);
    text-align: center;
    color: white;
}
h1{
    font-family: 'Bitter', serif;
    font-size: 4.5rem;; 
}
.drum{
    color: red;
    font-family: 'Bitter', serif;
    font-size: 5rem;
    width: 150px;
    height: 150px;
    border: 10px solid rgb(100, 14, 100);
    border-style: outset;
    margin: 15px;
    background-color: white;
    border-radius: 50px;
   
}
.set{
    margin:10% auto;
}
.pressed{
    box-shadow: 0 3px 4px 0 rgb(255, 184, 255);
    opacity: 0.5;
}
.w{
    background-image: url("images/tom1.png");
}
.a{
    background-image: url("images/tom2.png");
}
.s{
    background-image: url("images/tom3.png");
}
.d{
    background-image: url("images/tom4.png");
}
.j{
    background-image: url("images/kick.png");
}
.k{
    background-image: url("images/snare.png");
}
.l{
    background-image: url("images/crash.png");
}
